#identified {
    background-color:#00b3e6;
    
}
div {
    background-color: white;
    width: 700px;
    font-family: Helvetica Neue;
    margin: auto;
    padding: 30px;
}

#main-header {
    font-size: 22px;

}

.perspective-questions { font-style: italic;

}